---
layout: default
title: "Joomla! Privacy-Policy-Suite / Session JoomlaDay Österreich 2019"
description: "Joomla! 3.9 - Datenschutz- und Benutzeraktivitäten - neue Funktionen"
---
<!-- Any section element inside of this container is displayed as a slide -->
{% include slide01_title.html %}
{% include slide02_about.html %}
{% include slide03_isnot.html %}
{% include slide04_isnew.html %}
{% include slide05_com_privacy.html %}
{% include slide06_com_actionlogs.html %}
{% include questions.html %}
{% include thanks.html %}